**/target/
.idea/
.vscode/
.settings
.project
.classpath

*.iml
.DS_Store
*.log

# Secrets
backend/src/main/resources/firebase-service-account.json

# The following files are generated/updated by vaadin-maven-plugin
**/node_modules/
**/generated/
vite.generated.ts

backend/src/main/resources/firebase-service-account.json

